# Server Configuration
PORT=5000
NODE_ENV=production

# Supabase IPv4 Connection Pooler (Required for Render & Cloud Hosts)
DATABASE_URL=postgresql://postgres.yvkgytjygucpdzajlfjg:aaditshivammohitpranitvarun@aws-0-ap-northeast-1.pooler.supabase.com:6543/postgres

# Database Connection Parameters
DB_HOST=aws-0-ap-northeast-1.pooler.supabase.com
DB_PORT=6543
DB_USER=postgres.yvkgytjygucpdzajlfjg
DB_PASSWORD=aaditshivammohitpranitvarun
DB_NAME=postgres

# Auth & Security Secrets
JWT_SECRET=a49ef0d3-21dd-46c4-be1c-902f008e8c05